{% extends 'realworld/base.html' %} 
{% load static %}
 <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content%}
<div class="container">
    <div class="container" style="width: 100%;">
      <h5>Result</h5>
      <main role="main">
        <div id="chartContainer" style="height: 600px; width: 70%; margin-left: auto; margin-right: auto; background-color: gray;"></div>
        <div id="chartContainer2" style="height: 600px; width: 70%; margin-left: auto; margin-right: auto; background-color: gray;"></div>
      </main>
      </div>
    </div>
</div>
<script type="text/javascript">
  window.onload = function () {
      CanvasJS.addColorSet("piechartColors",
                  [//colorSet Array 
                  "#2F4F4F",   
                  "#b5190b",
                  "#b39032"       
                  ]);
    var chart = new CanvasJS.Chart("chartContainer",
    {
          colorSet: "piechartColors",
      title:{
        text: "Sentiment Distribution"
      },
      legend: {
        itemWidth: 300,
              itemHeight: 200,
              horizontalAlign: "left",
              verticalAlign :"center"
      },
      data: [
      {
        type: "pie",
        showInLegend: true,
              explodeOnClick: true,
              toolTipContent: "{y} %",
        legendText: "{indexLabel}",
        dataPoints: [
          { y: {{sentiment | get_item:'pos'}} * 100, indexLabel: "Positive" },
          { y: {{sentiment | get_item:'neg'}} * 100, indexLabel: "Negative" },
          { y: {{sentiment | get_item:'neu'}} * 100, indexLabel: "Neutral" }
        ]
      }
      ]
    });
    var chart2 = new CanvasJS.Chart("chartContainer2",{
      title :{
        text: "Sentimental Graph"
      },
      data: [{
        type: "column",
            explodeOnClick: true,
              toolTipContent: "{y} %",
        dataPoints: [
          {label: "Positive" , y: {{sentiment | get_item:'pos'}} * 100},
          {label: "Negative", y: {{sentiment | get_item:'neg'}} * 100 },
          {label: "Neutral" , y: {{sentiment | get_item:'neu'}} * 100  }
        ]
      }]
  });
    chart.render();
    chart2.render();
  }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  function startLoading() {
    // Get the button and the loading spinner elements
    const button = document.getElementById('submit');
    const loadingSpinner = document.getElementById('loadingSpinner');

    // Toggle the "button--loading" class on the button
    button.classList.toggle('button--loading');

    // Show the loading spinner
    loadingSpinner.style.display = 'block';

    // Simulate a 5-second loading delay
    setTimeout(function() {
        // Hide the loading spinner
        loadingSpinner.style.display = 'none';
        // Remove the "button--loading" class to return the button to its original state
        button.classList.remove('button--loading');
    }, 51000); // 5 seconds in milliseconds
  }
</script> 
{% endblock %}